{% extends "partials/layout.html" %} {% block content %}
<section class="title">
  <div class="text-center">
    <h1>Meet New <span class="what-mnfh-is-for">Friends</span> Here</h1>
    <p class="lead"> Need to reach an op? Type
      <strong>,callops</strong> for assistance.</p>
    <ul class="list-inline">
      <li>Admiral</li>
      <li>actualgirl</li>
      <li>Airsmash</li>
      <li>Aww</li>
      <li>BrightGreenLED</li>
      <li>Doge-Senpai</li>
      <li>Evan</li>
      <li>Eylas</li>
      <li>kinematic1</li>
      <li>Naphta</li>
      <li>Rad</li>
      <li>scornflakes</li>
      <li>void</li>
      <li>Watertrue</li>
      <li>Zeyeco</li>
    </ul>
  </div>
</section>
<section class="irc-client">
  <div class="row">
    <div class="col-md-12">
      <iframe src="https://kiwiirc.com/client/irc.snoonet.org/?nick=NewFriend|?#mnfh" style="border:0; width:100%; height:450px;"></iframe>
    </div>
  </div>
</section>
<section class="details">
  <div class="container">
    <div class="col-md-6">
      <h2>Rules</h2>
      <ul>
        <li>Be respectful to others and treat them as you would like to be treated:</li>
        <li>Be mindful that people have different comfort levels regarding offensive content.</li>
        <li>This is not a professional support channel. If you are feeling depressed or suicidal, please see <a href="http://www.suicide.org/international-suicide-hotlines.html">http://www.suicide.org/international-suicide-hotlines.html</a> to contact a trained
          support person.</li>
      </ul>
      <a class="btn btn-info">
        Read the rest of the rules.
      </a>
    </div>
    <div class="col-md-6">
      <h2>Users</h2>
      <div class="col-sm-4 text-center icon-links">
        <a href="#">
          <i class="icons fa fa-map"></i>
          <h3>Map</h3>
          <p class="description">See where MNFHers are around the globe.</p>
        </a>
      </div>
      <div class="col-sm-4 text-center icon-links">
        <a href="#">
          <i class="icons fa fa-camera-retro"></i>
          <h3>Gallery</h3>
          <p class="description">Put a face on that MNFHer</p>
        </a>
      </div>
      <div class="col-sm-4 text-center icon-links">
        <a href="#">
          <i class="icons fa fa-bar-chart"></i>
          <h3>Stats</h3>
          <p class="description">See whos a chatty Kathy</p>
        </a>
      </div>
    </div>
  </div>
</section>

{% endblock %}
